Repository PhongHuynh93/BookMultiplatform, pull requests merged in 2021-09, with the labels that each got.

#8 add podcast screen
  androidApp/src/main/java/com/wind/book/android/extension/RecyclerViewExtension.kt
  androidApp/src/main/java/com/wind/book/android/view/audio/AudioFragment.kt
  androidApp/src/main/java/com/wind/book/android/view/home/HomeFragment.kt
  androidApp/src/main/java/com/wind/book/android/view/home/HomeFragmentStateAdapter.kt
  androidApp/src/main/java/com/wind/book/android/view/podcast/PodcastsAdapter.kt
  androidApp/src/main/java/com/wind/book/android/view/podcast/PodcastsDecoration.kt
  androidApp/src/main/java/com/wind/book/android/view/podcast/PodcastsFragment.kt
  androidApp/src/main/res/drawable/ic_audiobook.xml
  androidApp/src/main/res/drawable/ic_podcast.xml
  androidApp/src/main/res/layout/podcast_item.xml
  androidApp/src/main/res/menu/home.xml
  androidApp/src/main/res/values/strings.xml
  shared/src/commonMain/kotlin/com/wind/book/Koin.kt
  shared/src/commonMain/kotlin/com/wind/book/data/mapping/PodcastMapper.kt
  shared/src/commonMain/kotlin/com/wind/book/data/model/dto/PodcastDto.kt
  shared/src/commonMain/kotlin/com/wind/book/data/repository/podcast/PodcastsAPI.kt
  shared/src/commonMain/kotlin/com/wind/book/data/repository/podcast/PodcastsModule.kt
  shared/src/commonMain/kotlin/com/wind/book/data/repository/podcast/PodcastsRepository.kt
  shared/src/commonMain/kotlin/com/wind/book/data/repository/podcast/datasource/LocalPodcastsDataSource.kt
  shared/src/commonMain/kotlin/com/wind/book/data/repository/podcast/datasource/RemotePodcastsDataSource.kt
  shared/src/commonMain/kotlin/com/wind/book/data/util/Constant.kt
  shared/src/commonMain/kotlin/com/wind/book/domain/DomainModule.kt
  shared/src/commonMain/kotlin/com/wind/book/domain/usecase/podcast/GetPodcastsUseCase.kt
  shared/src/commonMain/kotlin/com/wind/book/model/Podcast.kt
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/LoadMoreVM.kt
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/ViewModelModule.kt
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/model/PodcastNav.kt
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/podcast/PodcastsViewModel.kt
Labels: feature

#14 [iOS] - webview
  .github/workflows/build.yml
  androidApp/src/main/java/com/wind/book/android/view/book/BookAdapter.kt
  androidApp/src/main/java/com/wind/book/android/view/book/BookFragment.kt
  androidApp/src/main/java/com/wind/book/android/view/iab/IABFragment.kt
  androidApp/src/main/java/com/wind/book/android/view/podcast/PodcastsFragment.kt
  androidApp/src/main/res/layout/iab.xml
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/Koin.swift
  iosApp/iosApp/iOSApp.swift
  iosApp/iosApp/observable/BookObservable.swift
  iosApp/iosApp/observable/IABObservable.swift
  iosApp/iosApp/util/Constant.swift
  iosApp/iosApp/view/book/BookView.swift
  iosApp/iosApp/view/home/HomeView.swift
  iosApp/iosApp/view/iab/IABView.swift
  iosApp/iosApp/view/widget/CocaWebView.swift
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/BaseMVI.kt
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/BaseMVIViewModel.kt
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/LoadMoreVM.kt
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/home/BookViewModel.kt
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/iab/IABViewModel.kt
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/model/IABNav.kt
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/model/PodcastNav.kt
  shared/src/iosMain/kotlin/com/wind/book/Actual.kt
  shared/src/iosMain/kotlin/com/wind/book/KoinIOS.kt
Labels: feature, iOS

#17 Update auto version
  androidApp/build.gradle.kts
  iosApp/Podfile.lock
Labels: Config

#18 Update app name and icon
  iosApp/Coca.xcodeproj/project.pbxproj
  iosApp/Coca.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iosApp/Podfile
  iosApp/Podfile.lock
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/100.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/1024.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/114.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/120.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/128.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/144.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/152.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/16.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/167.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/172.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/180.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/196.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/20.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/216.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/256.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/29.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/32.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/40.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/48.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/50.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/512.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/55.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/57.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/58.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/60.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/64.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/72.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/76.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/80.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/87.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/88.png
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  iosApp/iosApp/Assets.xcassets/Contents.json
  iosApp/iosApp/Info.plist
Labels: iOS

#19 App icon
  iosApp/Coca.xcodeproj/project.pbxproj
  iosApp/Podfile
  iosApp/Podfile.lock
  iosApp/iosApp/Assets.xcassets/Coca.imageset/Contents.json
  iosApp/iosApp/Assets.xcassets/Coca.imageset/vecteezy_the-amazed-expression-of-the-drink-can-cartoon_.svg
  iosApp/iosApp/Info.plist
  iosApp/iosApp/Launch Screen.storyboard
Labels: iOS

#21 Book pager
  androidApp/src/main/java/com/wind/book/android/util/Constant.kt
  androidApp/src/main/java/com/wind/book/android/view/book/BookAdapter.kt
  androidApp/src/main/java/com/wind/book/android/view/book/BookFragment.kt
  androidApp/src/main/java/com/wind/book/android/view/book/BookPagerFragment.kt
  androidApp/src/main/java/com/wind/book/android/view/home/HomeFragmentStateAdapter.kt
  androidApp/src/main/res/layout/book_pager.xml
  androidApp/src/main/res/values/themes.xml
  shared/src/commonMain/kotlin/com/wind/book/data/mapping/BookMapper.kt
  shared/src/commonMain/kotlin/com/wind/book/data/model/dto/BookNameDto.kt
  shared/src/commonMain/kotlin/com/wind/book/data/repository/article/StoryApi.kt
  shared/src/commonMain/kotlin/com/wind/book/data/repository/book/BookApi.kt
  shared/src/commonMain/kotlin/com/wind/book/data/repository/book/BookRepository.kt
  shared/src/commonMain/kotlin/com/wind/book/data/repository/book/datasource/RemoteBookDataSource.kt
  shared/src/commonMain/kotlin/com/wind/book/data/util/Constant.kt
  shared/src/commonMain/kotlin/com/wind/book/domain/DomainModule.kt
  shared/src/commonMain/kotlin/com/wind/book/domain/usecase/book/GetBookNamesUseCase.kt
  shared/src/commonMain/kotlin/com/wind/book/model/BookName.kt
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/ViewModelModule.kt
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/book/BookPagerViewModel.kt
  shared/src/commonMain/kotlin/com/wind/book/viewmodel/book/BookViewModel.kt
Labels: feature, Android
